.modal{

display:none;

position:fixed;

left:0;
top:0;

width:100%;
height:100%;

background:rgba(0,0,0,.6);

justify-content:center;
align-items:center;

z-index:999;

}

.modal-content{

background:#fff5d9;

padding:35px;

border:6px solid #ef7158;

border-radius:15px;

width:420px;

text-align:center;

position:relative;

}

.close{

position:absolute;

right:20px;
top:10px;

font-size:30px;

cursor:pointer;

}
